.dygraph-legend {
    padding: 8px;
    background-color: black;
    color: white;
}

.dygraph-axis-label-x,
.dygraph-axis-label-y {
    color: white !important;
}

.bx--side-nav {
    background: black;
}

.bx--side-nav__submenu,
.bx--checkbox-label-text {
    color: #f4f4f4 !important;
}

.bx--side-nav__submenu:hover,
.bx--side-nav__menu-item:hover .bx--checkbox-label-text {
    color: #525252 !important;
}